.cards {
  padding-top: 52px;
  padding-bottom: 52px;

  &__title {
    @include h1-text;

    margin-bottom: 24px;
    color: $color-black-75;

    @include desktop {
      margin-bottom: 32px;
    }

    @include desktop-xl {
      margin-bottom: 48px;
    }
  }

  &__list {
    display: grid;
    gap: 16px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet-xl {
      gap: 24px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include desktop {
      grid-template-columns: repeat(3, minmax(413px, 617px));
    }

    @include desktop-xl {
      gap: 32px;
    }
  }

  @include tablet {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  @include tablet-xl {
    padding-bottom: 28px;
  }

  @include desktop {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @include desktop-xl {
    padding-top: 88px;
    padding-bottom: 88px;
  }
}
