.grid-images {
  &__wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 24px;

    &:nth-child(1) {
      flex-grow: 1;
    }

    &:nth-child(2) {
      @include desktop {
        margin-left: 24px;
        min-width: 40.9%;
      }

      @include desktop-xl {
        margin-left: 32px;
      }
    }

    @include tablet {
      border-radius: 32px;
    }
  }

  &__image {
    object-fit: cover;
  }
}
