.document-card {
  border-radius: 32px;
  padding: 16px;
  background-color: $color-white;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include desktop-xl {
      gap: 12px;
    }
  }

  &__date {
    @include caption-1-medium;

    color: $color-black-60;
  }

  &__title {
    @include h2-text;

    color: $color-black-75;
  }

  &__open-document {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 32px;
    height: 32px;

    &:hover,
    &:focus {
      background-color: $color-green-15;
      transition: 0.3s ease-out;
    }

    &--primary {
      background-color: $color-green-5;
    }

    &--secondary {
      background-color: $color-white;
    }

    @include tablet-xl {
      width: 40px;
      height: 40px;
    }

    @include desktop-xl {
      width: 64px;
      height: 64px;
    }
  }

  &__icon-open-document {
    @include tablet-xl {
      width: 17px;
      height: 17px;
    }

    @include desktop-xl {
      width: 28px;
      height: 28px;
    }
  }

  &__accordion {
    margin-top: 32px;

    @include desktop-xl {
      margin-top: 40px;
    }
  }

  &__accordion-inner {
    margin-top: 16px;
    border-radius: 24px;
    padding: 24px 16px;
    background-color: $color-green-5;

    @include tablet {
      margin-top: 8px;
    }

    @include tablet-xl {
      margin-top: 16px;
    }

    @include desktop {
      margin-top: 24px;
      padding: 40px 32px;
    }

    @include desktop-xl {
      margin-top: 40px;
    }
  }

  &__subtitle {
    @include body-1-medium;

    padding-bottom: 8px;
    color: $color-black-60;

    @include tablet-xl {
      @include body-2-medium;

      padding-bottom: 16px;
      color: $color-black-75;
    }
  }

  &__description {
    @include caption-1-medium;

    white-space: pre-line;
    color: $color-black-60;

    @include tablet-xl {
      @include text-medium;

      color: $color-black-75;
    }
  }

  &__item {
    border-radius: 32px;
    padding: 8px 12px;

    &:hover,
    &:focus {
      background-color: $color-green-10;
      transition: 0.3s ease-out;
    }
  }

  &__link {
    @include body-2-medium;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $color-black-75;
  }

  &__file-name {
    max-width: 80%;
  }

  @include tablet {
    padding: 24px 16px;
  }

  @include tablet-xl {
    padding: 32px 24px;
  }

  @include desktop-xl {
    border-radius: 40px;
    padding: 40px 32px;
  }
}
