.footer {
  z-index: $footer;
  flex-shrink: 0;
  border-radius: 32px;
  color: $color-black-60;
  background-color: $color-white;

  &__inner {
    padding-top: 32px;
    padding-bottom: 16px;

    @include desktop {
      padding: 40px;
    }

    @include desktop-xl {
      padding: 64px;
    }
  }

  &__top {
    @include tablet {
      display: flex;
    }
  }

  &__cols {
    display: flex;

    @include tablet {
      width: 68%;
    }
  }

  &__col {
    width: 50%;

    &--left {
      padding-right: 10px;
    }
  }

  &__nav {
    margin-top: 7px;

    @include desktop {
      margin-top: 16px;
    }
  }

  &__nav-item {
    margin-top: 4px;

    @include tablet {
      margin-top: 3px;
    }

    @include desktop {
      margin-top: 8px;
    }
  }

  &__nav-link {
    @include caption-1-medium;

    display: block;
    color: inherit;
    transition: color ease-out 0.2s;
    animation: fade-in 1s;

    &:focus,
    &:hover {
      color: $color-green;
    }

    @include tablet-xl {
      font-size: 16px;
      line-height: 1.4;
    }

    @include desktop {
      font-size: 18px;
    }

    @include desktop-xl {
      font-size: 26px;
    }
  }

  &__official-link-item {
    & + & {
      margin-top: 14px;
    }

    @include tablet {
      padding-right: 6px;
      width: calc(100% / 3);

      &:last-child {
        padding-right: 0;
      }

      & + & {
        margin-top: 0;
      }
    }
  }

  &__official-link {
    @include medium-font;

    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.45;
    color: inherit;

    @include tablet {
      font-size: 12px;
    }

    @include tablet-xl {
      font-size: 16px;
    }

    @include desktop {
      line-height: 1.4;
    }

    @include desktop-xl {
      font-size: 24px;
    }
  }

  &__official-link-logo {
    width: 38px;
    filter: grayscale(1);

    @include tablet-xl {
      width: 44px;
    }

    @include desktop {
      width: 40px;
    }

    @include desktop-xl {
      width: 78px;
    }
  }

  &__official-link-name {
    margin-left: 12px;
    max-width: 200px;

    @include tablet {
      max-width: 180px;
    }

    @include tablet-xl {
      max-width: 200px;
    }

    @include desktop-xl {
      margin-left: 22px;
      max-width: 300px;
    }
  }

  &__contacts {
    margin-top: 65px;

    @include tablet {
      margin-top: 0;
    }
  }

  &__social-media {
    display: flex;
    gap: 8px;

    a {
      @include tablet-xl {
        width: 64px;
        height: 64px;
      }

      @include desktop-xl {
        width: 104px;
        height: 104px;
      }
    }

    @include tablet {
      order: 3;
      gap: 12px;
    }

    @include tablet-xl {
      gap: 16px;
    }
  }

  &__official-name {
    display: none;

    @include tablet {
      display: block;
    }

    @include tablet {
      width: 33.8%;
    }
  }

  &__official-name-text {
    @include tablet {
      @include medium-font;

      font-size: 14px;
    }

    @include tablet-xl {
      font-size: 16px;
    }

    @include desktop {
      max-width: 300px;
      line-height: 1.4;
    }

    @include desktop-xl {
      max-width: 420px;
      font-size: 24px;
    }
  }

  &__middle {
    margin-top: 16px;

    @include tablet {
      align-items: flex-end;
      margin-top: 46px;
    }

    @include tablet-xl {
      margin-top: 50px;
    }

    @include desktop {
      margin-top: 64px;
    }

    @include desktop-xl {
      margin-top: 48px;
    }
  }

  &__copyright {
    @include caption-2-medium;

    margin-top: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.46;

    @include tablet {
      margin-top: 0;
      width: 34%;
    }

    @include desktop-xl {
      font-size: 24px;
      line-height: 1.4;
    }
  }

  &__copyright-link {
    margin-left: 4px;
    background: linear-gradient(90deg, #ff8fd2 0%, #c38cff 54%, #9abfff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include desktop {
      display: block;
      margin: 0;
      font-size: 18px;
    }

    @include desktop-xl {
      font-size: 34px;
    }
  }

  &__heart {
    margin-left: 3px;

    @include tablet {
      display: none;
    }

    @include tablet-xl {
      display: inline-block;
    }

    @include desktop {
      margin-left: 5px;
    }

    @include desktop-xl {
      margin-left: 12px;
    }
  }

  &__bottom {
    padding: 24px 16px 16px;

    @include tablet-xl {
      padding: 24px 32px 16px;
    }

    @include desktop {
      padding: 16px 40px;
    }

    @include desktop-xl {
      padding: 32px 64px;
    }
  }

  &__contact {
    & + & {
      margin-top: 3px;

      @include tablet-xl {
        margin-top: 5px;
      }

      @include desktop {
        margin-top: 10px;
      }
    }
  }

  &__official-links {
    @include tablet {
      align-items: center;
      gap: 12px;
    }

    @include tablet-xl {
      gap: 16px;
    }

    @include desktop {
      gap: 22px;
    }

    @include desktop-xl {
      gap: 32px;
    }
  }

  &__contact-link {
    @include medium-font;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.45;
    color: $color-green-dark;

    @include tablet-xl {
      font-size: 24px;
      line-height: 1.33;
    }

    @include desktop {
      font-size: 32px;
      line-height: 1.25;
    }

    @include desktop-xl {
      font-size: 44px;
      line-height: 1.35;
    }
  }

  &__title {
    @include medium-font;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.45;
    color: $color-green-dark;

    @include desktop {
      font-size: 24px;
    }

    @include desktop-xl {
      font-size: 34px;
    }
  }

  &__middle,
  &__official-links {
    @include tablet {
      display: flex;
    }
  }

  @include desktop-xl {
    border-radius: 80px;
  }
}
