.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: initial;
  cursor: pointer;

  &--primary {
    border: none;
    color: $color-white;
    background-color: $color-green;
    transition: background-color ease-out 0.3s;

    &:focus,
    &:hover {
      background-color: $color-green-dark;
    }
  }

  &--secondary {
    border: 1px solid $color-green;
    color: $color-green;
    background-color: $color-white;
    transition: background-color ease-out 0.2s;

    &:focus,
    &:hover {
      background-color: $color-green-10;
    }

    @include desktop-xl {
      border: 1.5px solid $color-green;
    }
  }

  @include desktop-xl {
    border-radius: 20px;
  }
}
