.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 16px;
  background-color: initial;
  cursor: pointer;

  @include desktop-xl {
    border-radius: 20px;
  }

  &--primary {
    border: none;
    color: $color-white;
    background-color: $color-green-dark;
    transition: background-color ease-out 0.3s;

    &:focus,
    &:hover {
      background-color: $color-green;
    }
  }

  &--secondary {
    border: 1px solid $color-green-dark;
    color: $color-green-dark;
    background-color: $color-white;
    transition: background-color ease-out 0.2s;

    &:focus,
    &:hover {
      background-color: $color-green-10;
    }

    @include desktop-xl {
      border: 1.5px solid $color-green-dark;
    }
  }

  &--featured {
    &::after,
    &::before {
      content: "";
      position: absolute;
      right: 4px;
      bottom: 0;
      width: 64px;
      height: 64px;
      background-size: cover;
      background-repeat: no-repeat;

      @include tablet-xl {
        width: 74px;
        height: 74px;
      }

      @include desktop {
        width: 67px;
        height: 67px;
      }

      @include desktop-xl {
        width: 84px;
        height: 89px;
      }
    }

    &::before {
      background-image: url("../../../../public/images/buttons/parrot-closed-eye.svg");
      visibility: hidden;
    }

    &::after {
      background-image: url("../../../../public/images/buttons/parrot-open-eye.svg");
    }

    &:hover,
    &:focus {
      &::before {
        visibility: visible;
      }

      &::after {
        display: none;
      }
    }
  }
}
