.schedule {
  border-radius: 24px;
  padding: 16px;
  box-shadow: 0 2px 16px 0 rgb(53 53 53 / 4%);
  background-color: $color-white;

  &__title {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}
