.social-link {
  $this: &;

  &__icon {
    display: block;
    width: 100%;
    height: auto;

    path,
    rect {
      transition: 0.3s ease-out;
    }
  }

  &:hover,
  &:focus {
    #{$this}__icon {
      path {
        fill: $color-white;
      }

      rect {
        fill-opacity: 1;
      }

      &--dzen {
        path {
          fill: rgb(135 187 149 / 100%);
        }
      }
    }
  }
}
