ee**/.classpath
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscodee
**/*.*proj.user
**/*.dbmdl
**/*.jfm

**/.gite
**/.gitignore
**/.gitattributes
**/.dockerignore

**/bin
**/obj
**/node_modules
**/npm-debug.log

**/.devcontainer
**/docker-compose*
**/Dockerfile*

.env.example

.eslintrc.json
.stylelintrc.json

**/.next
**/playwright-report
**/playwright-tests
playwright.config.ts
playwright.e2e.config.ts

**/ci

LICENSE
README.md
