API_URL=tobemodified
FRONTEND_URL=tobemodified
PREVIEW_SECRET=tobemodified
NEXT_PUBLIC_YANDEX_METRIKA_ID=onlyprod
NEXT_PUBLIC_METRICS_ENABLED=onlyprod

CDN_ENABLED=onlyprod
CDN_DOMAIN=onlyprod

PELICAN_CSP_ENABLED=false # false only for dev environment
PELICAN_CSP_SCRIPT_SRC_URLS=onlyprod
PELICAN_CSP_IMG_SRC_URLS=onlyprod
PELICAN_CSP_FONT_SRC_URLS=onlyprod
PELICAN_CSP_MEDIA_SRC_URLS=onlyprod
PELICAN_CSP_FRAME_SRC_URLS=onlyprod
PELICAN_CSP_CONNECT_SRC_URLS=onlyprod
