.header-popup {
  position: relative;
  overflow: hidden;
  border-radius: 0 0 32px 32px;
  max-height: 0;
  background-color: $color-white;
  visibility: hidden;
  transition: all 0.3s ease-in;

  &__ticket-button {
    @include body-2-medium;

    margin-top: 24px;
    margin-bottom: 8px;
    border: none;
    border-radius: 0;
    width: 100%;
    text-align: start;
    color: $color-black-60;
    background: none;
    transition: color ease-out 0.2s;
    animation: fade-in 1s;

    &:focus,
    &:hover {
      color: $color-green;
    }

    @include tablet {
      margin-top: 32px;
    }

    @include tablet-xl {
      // TODO: fix font-size after redesigned
      font-size: 20px;
      line-height: 1.4;
    }
  }

  &__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 8px;
    padding-bottom: 24px;
    animation: fade-in 1.5s;

    @include tablet {
      margin-top: 0;
    }
  }

  &__social-media {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);

    a {
      width: 48px;
      height: 48px;
    }

    @include tablet {
      gap: 16px;

      a {
        width: 64px;
        height: 64px;
      }
    }
  }

  &__phone {
    margin-bottom: 4px;

    @include tablet-xl {
      margin-bottom: 8px;
    }
  }

  &__phone,
  &__email {
    @include body-2-medium;

    display: block;
    color: $color-green-dark;

    @include tablet {
      @include h1-text;
    }

    @include tablet-xl {
      @include h2-text;
    }
  }

  &--visible {
    max-height: 356px;
    visibility: visible;

    @include tablet {
      max-height: 396px;
    }

    @include tablet-xl {
      max-height: 408px;
    }
  }
}
