.tickets-popup-rules-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  &__rule {
    width: 71px;
    max-width: 25%;

    @include tablet-xl {
      width: 80px;
    }

    @include desktop-xl {
      width: 96px;
    }
  }
}
