.news-slider-card {
  align-content: unset !important;
  flex: 0 0 auto !important;
  padding-left: 16px;

  &__inner {
    display: block;
    border-radius: 32px;
    padding: 24px 20px;
    height: inherit;
    min-width: 289px;
    min-height: 100%;
    background-color: $color-white;
    transition: background-color 0.2s ease-in;

    &:hover,
    &:focus {
      background-color: $color-yellow;
    }

    @include tablet {
      padding: 24px 20px 47px;
    }

    @include tablet-xl {
      padding: 28px 24px;
      min-width: 406px;
    }

    @include desktop-xl {
      padding: 36px 32px 39px;
      min-width: 567px;
    }
  }

  &__title {
    @include body-1-medium;

    margin-bottom: 4px;
    color: $color-black-75;

    @include tablet-xl {
      @include body-2-medium;

      margin-bottom: 8px;
    }
  }

  &__description {
    @include caption-1-regular;

    color: $color-black-60;

    @include tablet-xl {
      @include text-regular;
    }
  }

  &:last-child {
    padding-right: 20px;
  }

  & + & {
    @include desktop-xl {
      padding-left: 0;
    }
  }

  @include tablet {
    padding-left: 12px;
  }

  @include tablet-xl {
    padding-left: 24px;
  }

  @include desktop-xl {
    padding-left: 0;
  }
}
