.header-eye {
  margin-right: 20px;
  width: 28px;
  height: 17px;
  cursor: pointer;

  svg {
    stroke: $color-black;
    transition: all ease-out 0.2s;

    &:focus,
    &:hover {
      stroke: $color-green;
    }
  }

  @include desktop {
    margin-right: 24px;
  }
}
