.icon-ok {
  display: block;
  width: 100%;
  height: auto;

  path {
    transition: 0.3s ease-out;
  }

  rect {
    transition: 0.3s ease-out;
  }

  &:hover {
    path {
      fill: $color-white;
      transition: 0.3s ease-out;
    }

    rect {
      transition: 0.3s ease-out;
      fill-opacity: 1;
    }
  }
}
