html,
body {
  overflow-x: hidden;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: $color-background-page;
  overflow-wrap: break-word;
}

.main {
  flex-grow: 1;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  padding-right: 16px;
  padding-left: 16px;

  @include tablet-xl {
    padding-right: 32px;
    padding-left: 32px;
  }

  @include desktop {
    padding-right: 40px;
    padding-left: 40px;
  }

  @include desktop-xl {
    margin: 0 auto;
    padding-right: 64px;
    padding-left: 64px;
    max-width: 1920px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

a {
  color: inherit;
}

.overlay {
  position: fixed;
  z-index: $overlay;
  background-color: $color-black-20;
  opacity: 0;
  visibility: hidden;
  transform: translateZ(0);
  transition: opacity 0.3s linear, visibility 0.3s linear;
  backdrop-filter: blur(4px);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-backdrop-filter: blur(4px);
  inset: 0;
  will-change: transform;

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }

  &.is-header-hidden {
    z-index: $overlay-with-hidden-header;
  }
}

.text-link {
  position: relative;
  text-decoration: underline;
  color: $color-green-dark;
  transition: color ease-out 0.2s;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;

  &:focus,
  &:hover {
    color: $color-pink-bright;

    &::after {
      background: $color-pink-bright;
      transition: background ease-out 0.2s;
    }
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  word-wrap: normal;
  white-space: nowrap;
  user-select: none;
  clip-path: inset(100%);
}
