html,
body {
  overflow-x: hidden;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: $color-background-page;
}

// .main {
//   position: static;
//   min-height: calc(100vh - 105px);

//   @include desktop {
//     min-height: calc(100vh - 135px);
//   }
// }

.container {
  padding-right: 16px;
  padding-left: 16px;

  @include tablet-xl {
    padding-right: 32px;
    padding-left: 32px;
  }

  @include desktop {
    padding-right: 40px;
    padding-left: 40px;
  }

  @include desktop-xl {
    padding-right: 64px;
    padding-left: 64px;
  }
}

img {
  display: block;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}
