.services {
  padding-top: 52px;
  padding-bottom: 52px;

  &__title {
    @include h1-text;

    margin-bottom: 24px;
    color: $color-black-75;

    @include desktop {
      margin-bottom: 32px;
    }

    @include desktop-xl {
      margin-bottom: 48px;
    }
  }

  &__cards {
    display: grid;
    overflow: auto;
    gap: 12px;

    // TODO: fix column count
    grid-template-columns: repeat(5, 304px);

    &::-webkit-scrollbar {
      width: 0;
    }

    @include tablet {
      gap: 16px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include desktop {
      gap: 24px;
      grid-template-columns: repeat(5, 522px);
    }

    @include desktop-xl {
      gap: 32px;
      grid-template-columns: repeat(5, 727px);
    }
  }

  &__info-cards {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include tablet {
      flex-direction: row;
      gap: 16px;
      grid-column: span 2;
    }

    @include desktop {
      flex-direction: column;
      gap: 24px;
      grid-column: auto;
    }
  }

  &__phone-link,
  &__email-link {
    flex-basis: 50%;
  }

  &__phone-button,
  &__email-button {
    @include caption-1-medium;

    justify-content: flex-start;
    padding: 16px;
    width: 100%;
    height: 100%;
    white-space: pre-line;
    text-align: left;

    @include tablet {
      padding: 24px;
    }

    @include tablet-xl {
      border-radius: 24px;
    }

    @include desktop {
      @include body-1-regular;

      border-radius: 32px;
    }

    @include desktop-xl {
      @include body-2-medium;
    }
  }

  @include tablet {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  @include tablet-xl {
    padding-bottom: 28px;
  }

  @include desktop {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @include desktop-xl {
    padding-top: 88px;
    padding-bottom: 88px;
  }
}
