.tabs {
  display: flex;
  padding-bottom: 24px;
  gap: 8px;

  &__button {
    @include caption-2-medium;

    display: block;
    border: 1px solid $color-black-75;
    border-radius: 110px;
    padding: 8px 32px;
    color: $color-black-75;

    &:hover {
      border: none;
      color: $color-white;
      background-color: $color-green;
    }

    &--active {
      border: none;
      color: $color-white;
      background-color: $color-green-dark;
    }

    @include desktop-xl {
      padding: 12px 40px;
    }
  }

  @include tablet-xl {
    padding-bottom: 32px;
  }

  @include desktop-xl {
    padding-bottom: 40px;
    gap: 12px;
  }
}
