.card {
  &__wrapper {
    border-radius: 16px;
    height: 100%;
    box-shadow: 0 2px 16px 0 rgb(1 60 30 / 4%);
    background-color: $color-white;

    @include tablet-xl {
      border-radius: 32px;
    }

    @include desktop {
      &--link {
        transition: all 0.2s ease-in;

        &:focus,
        &:hover {
          box-shadow: 4px 4px 16px 0 $color-black-10;
        }
      }
    }

    @include desktop-xl {
      border-radius: 40px;
    }
  }

  &__image-wrapper {
    position: relative;
    margin-bottom: 12px;
    height: 227px;

    img {
      border-radius: 16px;
      object-fit: cover;

      @include tablet-xl {
        border-radius: 32px;
      }

      @include desktop-xl {
        border-radius: 40px;
      }
    }

    @include tablet-xl {
      margin-bottom: 24px;
      height: 304px;
    }

    @include desktop-xl {
      margin-bottom: 32px;
      height: 360px;
    }
  }

  &__labels {
    position: absolute;
    left: 8px;
    top: 12px;
    z-index: 1;
    display: flex;
    flex-flow: column wrap;
    height: 215px;
    gap: 6px;

    @include tablet-xl {
      left: 24px;
      top: 24px;
      flex-direction: row;
      height: unset;
      gap: 8px;
    }
  }

  &__label {
    @include caption-2-medium;

    border-radius: 20px;
    padding: 6px 10px;
    width: fit-content;
    color: $color-black-60;
    background-color: $color-white;

    @include tablet-xl {
      padding: 8px 16px;
    }

    @include desktop-xl {
      border-radius: 100px;
      padding: 12px 24px;
    }
  }

  &__info {
    padding: 0 16px 16px;

    @include tablet-xl {
      padding: 0 24px 32px;
    }

    @include desktop-xl {
      padding: 0 32px 40px;
    }
  }

  &__title {
    @include body-1-medium;

    margin-bottom: 8px;
    color: $color-black-75;

    @include tablet-xl {
      @include body-2-medium;
    }

    @include desktop-xl {
      margin-bottom: 16px;
    }
  }

  &__description {
    @include caption-1-regular;

    color: $color-black-60;

    @include tablet-xl {
      @include text-regular;
    }

    @include desktop-xl {
      @include caption-1-regular;
    }
  }
}
