.exit-preview-link {
  @include caption-1-medium;

  border: none;
  border-bottom: 1px solid $color-green-dark;
  border-radius: 0;
  height: 49px;
  text-align: center;
  transition: all ease-out 0.6s;
}
