.map {
  position: relative;
  z-index: $map;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 504px;

  &__inner {
    width: 100%;
  }

  &__background-image {
    position: absolute;
    z-index: -1;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    inset: 0;

    @include desktop {
      object-position: 0 -108px;
      transform: scale(1.1);
    }

    @include desktop-xl {
      object-position: 0 -172px;
    }
  }

  &__address-card {
    margin-bottom: 64px;

    @include tablet {
      margin-bottom: 32px;
    }

    @include tablet-xl {
      margin-bottom: 60px;
    }

    @include desktop {
      margin-bottom: 64px;
    }

    @include desktop-xl {
      margin-bottom: 96px;
    }
  }

  @include tablet {
    min-height: 577px;
  }

  @include tablet-xl {
    min-height: 769px;
  }

  @include desktop {
    min-height: 734px;
  }

  @include desktop-xl {
    min-height: 1108px;
  }
}
