.map {
  position: relative;
  z-index: $map;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 504px;

  &__backgound-image {
    position: absolute;
    z-index: -1;
    height: 100%;
    object-fit: cover;
    object-position: -72px 32px;
    transform: scale(1.2);
    inset: 0;

    @include tablet {
      object-position: 0 32px;
    }

    @include tablet-xl {
      object-position: 0 44px;
    }

    @include desktop {
      object-position: 0 30px;
    }

    @include desktop-xl {
      object-position: 0 24px;
      transform: scale(1.1);
    }
  }

  &__flower {
    position: absolute;
    left: -30px;
    top: -40px;
    width: 71px;
    height: 68px;
    animation: rotate 2.5s linear infinite;
    animation-direction: alternate;

    @include tablet-xl {
      left: -45px;
      top: -45px;
      width: 98px;
      height: 95px;
    }

    @include desktop {
      left: -50px;
      top: -50px;
      width: 112px;
      height: 108px;
    }

    @include desktop-xl {
      left: -60px;
      top: -95px;
      width: 168px;
      height: 160px;
    }
  }

  @include tablet {
    min-height: 577px;
  }

  @include tablet-xl {
    min-height: 769px;
  }

  @include desktop {
    min-height: 734px;
  }

  @include desktop-xl {
    min-height: 1108px;
  }
}

.map-address-card {
  position: relative;
  margin-bottom: 64px;
  border-radius: 24px;
  padding: 24px 16px;
  background-color: $color-white;

  &__inner {
    @include tablet {
      display: flex;
      gap: 12px;
    }

    @include tablet-xl {
      gap: 16px;
    }

    @include desktop {
      gap: 24px;
    }

    @include desktop-xl {
      gap: 32px;
    }
  }

  &__info {
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 61.48%;
    }

    @include tablet-xl {
      width: 60.63%;
    }

    @include desktop {
      width: 57.44%;
    }

    @include desktop-xl {
      width: 58.1%;
    }
  }

  &__note {
    @include tablet {
      @include caption-2-medium;

      white-space: pre-line;
      color: $color-black-60;
    }

    @include tablet-xl {
      @include caption-1-medium;
    }
  }

  &__title {
    @include h2-text;

    margin-bottom: 8px;
    color: $color-black-75;

    @include tablet {
      margin-bottom: 6px;
    }

    @include tablet-xl {
      margin-bottom: 12px;
      white-space: pre-line;
    }

    @include desktop {
      @include h1-text;

      margin-bottom: 24px;
    }

    @include desktop-xl {
      margin-bottom: 32px;
      font-size: 56px;
      line-height: 1.35;
    }
  }

  &__subtitle {
    @include caption-1-medium;

    color: $color-black-60;

    @include tablet {
      @include caption-2-medium;
    }

    @include tablet-xl {
      @include caption-1-medium;
    }

    @include desktop {
      @include text-medium;

      color: $color-black-75;
    }
  }

  &__image-wrapper {
    position: relative;
    width: 36.77%;

    img {
      border-radius: 12px;

      @include tablet-xl {
        border-radius: 16px;
      }

      @include desktop {
        border-radius: 32px;
      }

      @include desktop-xl {
        border-radius: 40px;
      }
    }

    @include tablet-xl {
      width: 37.6%;
    }

    @include desktop {
      width: 39.93%;
    }

    @include desktop-xl {
      width: 40%;
    }
  }

  &__link {
    color: $color-green;
  }

  @include tablet {
    margin-bottom: 32px;
    padding: 24px;
  }

  @include tablet-xl {
    margin-bottom: 60px;
    border-radius: 32px;
  }

  @include desktop {
    margin-bottom: 64px;
    padding: 40px 32px;
  }

  @include desktop-xl {
    margin-bottom: 96px;
    border-radius: 56px;
    padding: 56px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(114deg);
  }
}
