.tickets {
  $gap-tablet: 12px;
  $gap-tablet-xl: 16px;
  $gap-desktop: 24px;

  @include medium-font;

  border-radius: 32px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $color-white;

  &__group {
    & + & {
      margin-top: 40px;

      @include tablet {
        margin-top: 32px;
      }

      @include tablet-xl {
        margin-top: 40px;
      }
    }
  }

  &__head {
    @include tablet-xl {
      display: flex;
      align-items: flex-end;
    }

    @include desktop {
      align-items: baseline;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.3;

    @include tablet {
      font-size: 29px;
    }

    @include tablet-xl {
      font-size: 32px;
    }

    @include desktop {
      font-size: 40px;
      line-height: 1.25;
    }
  }

  &__subtitle {
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.45;
    color: $color-black-60;

    @include tablet {
      margin-top: 4px;
      max-width: 320px;
    }

    @include tablet-xl {
      margin-left: 8px;
      max-width: none;
    }

    @include desktop {
      margin-left: 16px;
    }
  }

  &__list {
    margin-top: 24px;
    margin-bottom: 16px;

    @include tablet {
      display: flex;
      align-items: end;
      flex-wrap: wrap;
      gap: $gap-tablet;
    }

    @include tablet-xl {
      margin-top: 21px;
      gap: 0;
    }

    @include desktop {
      margin-top: 31px;
    }
  }

  &__item {
    min-height: 160px;

    &--link {
      font-size: 20px;
      line-height: 1.4;
      color: $color-black-75;

      @include desktop {
        font-size: 24px;
      }
    }

    &--button {
      @include tablet {
        display: flex;
      }
    }

    & + & {
      margin-top: 16px;

      @include tablet {
        margin-top: 0;
      }

      @include tablet-xl {
        margin-left: $gap-tablet-xl;
      }

      @include desktop {
        margin-left: $gap-desktop;
      }
    }

    @include desktop {
      min-height: 219px;
    }

    @include tablet {
      width: 362px;
      width: calc(50% - $gap-tablet / 2);
      height: 160px;
    }

    @include tablet-xl {
      width: calc(33.33% - $gap-tablet-xl);
      min-width: 309px;
    }

    @include desktop {
      width: calc(100% / 3 - $gap-desktop);
      min-width: 413px;
    }
  }

  &__ticket-button {
    @include medium-font;

    padding: 12px;
    width: 100%;
    font-size: 16px;
    line-height: 1.45;

    @include tablet {
      margin-top: auto;

      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 88%;
        width: 124px;
        height: 114px;
        background-image: url("../../../../public/images/tickets/parrot.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  &__link {
    margin-left: 4px;
    text-decoration: underline;
    color: $color-green;
  }

  @include desktop {
    border-radius: 64px;
    padding: 64px 39px;
  }
}
