.icon-dzen {
  display: block;
  width: 100%;
  height: auto;

  path {
    transition: 0.3s ease-out;
  }

  &:hover,
  &:focus {
    path {
      fill: rgb(135 187 149 / 100%);
      transition: 0.3s ease-out;
    }
  }
}
