/* stylelint-disable no-descending-specificity */
.tickets-popup-card {
  $this: &;

  border-radius: 16px;
  color: $color-black;
  background-color: $color-white;

  &__price {
    flex-shrink: 0;
    font-size: 18px;

    @include tablet {
      font-size: 20px;
      line-height: 1.4;
    }

    @include desktop-xl {
      font-size: 26px;
    }
  }

  &__category-wrapper {
    max-width: 176px;

    @include tablet {
      max-width: 260px;
    }

    @include desktop-xl {
      max-width: none;
    }
  }

  &__category {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.45;
    white-space: pre-wrap;

    @include tablet {
      max-width: 200px;
      font-size: 20px;
      line-height: 1.4;
    }

    @include desktop-xl {
      max-width: 300px;
      font-size: 26px;
    }
  }

  &__description {
    margin-top: 4px;
    max-width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.45;
    white-space: pre-wrap;
    color: $color-black-75;

    @include tablet {
      font-size: 16px;
      line-height: 1.4;
    }

    @include desktop-xl {
      max-width: 510px;
      font-size: 22px;
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    transition: background-color ease-out 0.2s;

    &:hover,
    &:focus {
      @include desktop {
        background-color: $color-yellow;
      }
    }
  }

  &__link,
  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: inherit;
    padding: 16px 12px;
    background-color: $color-white;

    @include tablet {
      padding: 16px;
    }

    @include desktop-xl {
      padding: 24px;
    }
  }

  @include desktop-xl {
    border-radius: 24px;
  }

  &--with-accordion {
    #{$this}__inner {
      flex-direction: column;
    }

    #{$this}__category-wrapper {
      margin-bottom: 16px;
      width: 100%;
      max-width: none;

      @include tablet {
        margin-bottom: 22px;
      }

      @include tablet-xl {
        margin-bottom: 24px;
      }

      @include desktop-xl {
        margin-bottom: 26px;
      }
    }
    #{$this}__description {
      @include tablet {
        max-width: 450px;
      }

      @include desktop-xl {
        max-width: 510px;
      }
    }
  }
}
