.github-link {
  $this: &;

  position: absolute;
  width: 68px;
  height: 60px;
  transform: translateX(190px) translateY(-3px);

  &__icon {
    display: block;
    width: 100%;
    height: 100%;
  }

  &:hover,
  &:focus {
    #{$this}__icon {
      fill: #e4e4fa;
    }
  }

  @include tablet {
    transform: translateX(168px) translateY(-3px);
  }

  @include tablet-xl {
    width: 74px;
    height: 64px;
    transform: translateX(204px);
  }

  @include desktop {
    width: 100px;
    height: 88px;
    transform: translateX(202px);
  }

  @include desktop-xl {
    width: 152px;
    height: 134px;
    transform: translateX(308px);
  }
}
