.schedule-timetable {
  border-left: 2px solid $color-green-dark;
  padding-left: 12px;

  &__days {
    margin-bottom: 6px;
    color: $color-black-75;
  }

  &__time {
    color: $color-green-dark;
  }

  &__tickets-office-time {
    color: $color-black-75;
  }
}
