.visiting-rules-warnings {
  &__cards {
    display: grid;
    padding: 40px 16px;
    gap: 10px;

    @include tablet {
      padding: 52px 16px;
      gap: 16px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet-xl {
      padding: 52px 32px;
    }

    @include desktop {
      padding: 64px 40px;
      gap: 16px;
    }

    @include desktop-xl {
      padding: 88px 64px;
      gap: 24px;
    }
  }
}
